@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap%27');

*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

body, html{
    
    background: url('../src/background3.jpg');
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

body::-webkit-scrollbar {
    width: 0;
}
  
body::-webkit-scrollbar-track {
    background: #fff;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #000;
}

input{
    border: 0;
    border-bottom: 2px solid #000;
    padding: 2px;
    background: transparent;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button{
    background: #fff;
    font-size: 14px;
    width: 140px;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.2s;
    margin: 8px; /* Margem para espaçamento entre botões */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura total */
}

.clean:hover{
    background: #b3131b;
}

.primary:hover{
    background: #2968c8;
}

.colaborate:hover{
    background: #2968c8;
}

.end:hover, .copiarFinalizado:hover{
    background: #00a650;
}

.container{
    width: 50%;
    margin-right: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container strong{
    color: white;
    text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,                    
                1px -1px 0px #000,                  
                1px 0px 0px #000;
}

.container2{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
}

.discordIcon{
    position: absolute;
    left: 87%;
    bottom: 5%;
    width: 30px;
    height: 25px;
}

.transito, .crime, .crime01, .crime02, .crime03, .crimeArmamento{
    background: rgba(80, 162, 255, 1);
    padding: 12px;
    width: 80px;
    height: 80px;
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}

.crime{
    background: #41d054;
}

.crime01, .crime02{
    background: #f0c808;
    
}

.crime03{
    background: #dd1c1a;
}

.crimeArmamento{
    background: rgba(190, 110, 255, 1);
}

.finalizado{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltarFinalizado, .copiarFinalizado{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.copiarFinalizado{
    top: 60%;
    left: 50%;
}

button{
    cursor: pointer;
}

.transito:hover{
    background: rgba(158, 211, 255, 0.8);
}

.crime:hover{
    background: rgba(190, 255, 207, 0.8);
}

.crime01:hover, .crime02:hover{
    background: rgba(255, 254, 173, 0.8);
}

.crime03:hover{
    background: rgba(255, 75, 75, 0.8);
}

.crimeArmamento:hover{
    background: rgba(190, 110, 255, 0.8);
}

@media (max-width: 992px) {
    button {
        font-size: 12px;
        width: 120px;
        height: 28px;
    }
    .container {
        padding: 0.5em;
        margin-top: 450px; /* Ajusta conforme a altura de .container2 para evitar sobreposição */
    }

    .container2 {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%); /* Centraliza horizontalmente */
        width: 92%; /* Ajusta a largura conforme desejado */
        height: auto;
        border-radius: 30px; /* Mantém as bordas arredondadas */
        z-index: 999; /* Garante que fique acima de outros elementos */
    }

    .voltarFinalizado, .copiarFinalizado{
        margin-top: 130px;
    }

    .finalizado{
        margin-top: 210px;
    }

    
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0.5em;
    }
    .container2 {
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0.3em;
    }
    .container2 {
        top: 50%;
        left: 50%;
    }
}

}